body {
    background: var(--clr-gray100);
    font-family: 'Montserrat', sans-serif;
    margin: 2% 16%;
    margin-bottom: 5%;
}

h1 {
    margin: 0;
    padding-bottom: 5px;
}

/* navbar styling */

.navbar {
    display: flex;
    padding: 1%;
}

.logo {
    font-size: 45px;
    font-weight: 800;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


/* searchbox css */
.search-section {
    display: flex;
    padding: 1%;
    width: 50%;
    justify-content: flex-end;
}

.search-bar {
    width: 50%;
    align-self: center;
    justify-self: center;
    border-radius: 30px;
    padding: 5px 10px;
}

/* avatarimg css */
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img {
    align-self: center;
    justify-self: center;
}


/* body section */

.mainSection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.action-section {

    height: 40vh;
    width: 30%;
    margin: 2% 0%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 249, 255);
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.input1 {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 015%;
}

.input1 label {
    padding: 7% 0;
}

#total-price {
    width: 100%;
    border: 1px solid #00000057;
    border-radius: 5%;
    background-color: white;
    height: 20px;
}

.input-btn {
    display: flex;
    flex-direction: column;
}

.input-btn button {
    padding: 1% 8%;
    width: 75%;
    background-color: rgb(50, 146, 255);
    border-radius: 0%;
    border: none;
    text-align: center;
    font-size: 14px;
    color: aliceblue;
    height: 24px;
    max-width: 400px;
    max-height: 60px;
    box-sizing: border-box;
    font-stretch: expanded;
    margin: 3% auto;
}

.input-btn button:hover {
    background-color: rgb(106, 200, 255);
}


/* graphic section */

.graph-section {
    /* border: 1px solid black; */
    height: 40vh;
    width: 70%;
    max-height: 500px;
    max-width: 100%;
    margin: 2% 0%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.current-price {
    font-size: xx-large;
    font-weight: 900;
    margin-left: 3%;
    margin-top: 3%;
}

.chart {
    width: 100%;
    height: 100%;
    background-color: pink;
    margin: auto;
    background-color: rgb(240, 249, 255);
    border-radius: 1%;
}

#price-chart {
    /* border: 1px solid black; */
    height: 68%;
    width: 90%;
    margin: auto;
}

.action {
    display: flex;
    flex-direction: row;
    margin: auto auto;

}



/* News Section */
.news-section {
    border-radius: 1%;
    height: 300px;
    margin: 0% 0%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.news-item {
    background-color: rgb(240, 249, 255);
    height: 100%;
    border-radius: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;

}


/* Portfolio section */
.portfolio-section {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
}

.list {
    padding: 0px;
}

.coinList {
    border-radius: 1%;
    height: auto;
    width: 100%;
    margin: 0% 5%;
}

.portfolio {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.portfolio h5 {
    padding: 0px;
    margin: 0px;
}

.coinList {
    justify-content: flex-end;
    margin: auto;
}

.coin {
    margin: 0 0%;
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    background-color: rgb(240, 249, 255);
    border-radius: 1%;
}

.coin1 {
    background-color: inherit;
}

/* following are cut from skeleton framework table section with minor edit */

th,
td {
    padding: 30px 15px;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    text-align: left;
    padding-left: 3%;
    padding-right: 100px;
}

th:last-child,
td:last-child {
    padding-right: 0px;
}

#table-head {
    background-color: rgb(240, 249, 255);
}

#clear-memory {
    margin-top: 50px;
    position: relative;
    left: 49%;
    border: none;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    background-color: inherit;
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    user-select: none;
    border-radius: 0.25rem;
    text-transform: uppercase;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    padding: 0.625rem 1.5rem 0.5rem;
    font-size: .75rem;
    line-height: 1.5;
    background-color: #0cb623;
    text-decoration: none;
    margin: 4% auto;
}

.btn a {
    text-decoration: none;
    color: #eee;
}

@media screen and (max-width: 600px) {

    body {
        margin: 2%;
    }

    h1 {
        font-size: 20px;
    }

    .mainSection {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        justify-content: space-between;
        flex-direction: column;
    }

    #search-sec {
        justify-content: flex-start;
    }

    .logo {
        font-size: 25px;
    }

    .search-bar input {
        display: none;
    }

    .avatar {
        width: 32px;
        height: 32px;
        align-self: center;
        display: none;
    }

    .action-section {
        width: 100%;
        height: 100%;
    }

    .input1 {
        margin: auto;
        padding: 3%;
    }

    .input1 label {
        padding: 5% 0;
    }

    .news-section {
        width: 100%;
    }

    .news-item {
        overflow: hidden;
        overflow-y: auto;
    }

    .graph-section {
        width: 100%;
        order: -1;
    }

    .portfolio-section {
        font-size: 80%;
        padding-bottom: 30px;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
    }

    #clear-memory {
        left: 40%;
    }
}


@media screen and (max-width: 1000px) {

    body {
        margin: 0 4%;
    }

    .navbar {
        justify-content: space-between;
        flex-direction: column;
    }

    #search-sec {
        justify-content: flex-start;
    }

    .logo {
        font-size: 35px;
    }

    .search-bar input {
        display: none;
    }

    .avatar {
        width: 32px;
        height: 32px;
        align-self: center;
        display: none;
    }

    .news-item {
        overflow: hidden;
        overflow-y: auto;
    }

    h1 {
        font-size: 25px;
    }

    .logo {
        font-size: 32px;
    }

    .search-bar {
        max-width: 200px;
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    height: 150px;
    width: 60%;
}

.modal-text {
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 20px;
    height: 150px;
    line-height: 150px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}